/*
*  CSS TABLE OF CONTENTS
*  0.0 - Variables
*  1.0 - Globals
*  2.0 - Layout
*  3.0 - Utilities
*  4.0 - Fonts
*  5.0 - Animations
*  6.0 - Post card
*  7.0 - Header
*  8.0 - Footer
*  9.0 - Footer
*  10.0 - Banner
*  11.0 - Intro
*/


/*---------------
0.0 - Variables
---------------*/
@import "../../assets/scss/variables";

/*---------------
1.0 - Globals
---------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;
}



html {
  scroll-behavior: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body,
button,
input {
  font-family: $body-font;
}

body{
  background-color:  #efeeef;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  font-size: 0.85rem;
  height: 40px;
  border-radius: $border-r;
  border: none;
  background-color: #fff;
  color: $text-color;
  padding: 1rem 2rem 1rem 1rem;
  display: block;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
::placeholder {
  color: rgba(128, 128, 128, 0.603);
}

section{
  margin-top: 2rem;
}

/*-----------------
2.0 - Layout
-----------------*/
.l-main {
  overflow: hidden;
}

.l-container {
  max-width: 968px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.l-grid {
  display: grid;
}

.l-flex {
  display: flex;
}

@media screen and (min-width: $lg-breakpoint) {
  .l-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }
}

@media screen and (min-width: $xl-breakpoint) {
  .l-container {
    max-width: 1080px;
  }
}

@media screen and (min-width: $xx-breakpoint) {
  .l-container {
    max-width: 1180px;
  }
}

/*-----------------
3.0 - Utilities
-----------------*/
.u-is-loading {
  opacity: 0;
}

.u-is-important {
  color: $primary-color;
}

.u-justify-content-between {
  justify-content: space-between;
}

.u-justify-content-center {
  justify-content: center;
}

.u-align-items-center {
  align-items: center;
}

.u-relative{
  position: relative;
}

/*-----------------
4.0 - Fonts
-----------------*/
h1,
h2,
h3,
a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0px;
}

p{
    font-family: 'Poppins', sans-serif;
    line-height: 1.8rem;
}

h1,
h2,
h3 {
  color: $title-color;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

p,
a {
  font-size: 1rem;
  color: $text-color;
}

@media screen and (min-width:$lg-breakpoint){
  h2{
    font-size: 2rem;
  }
  p{
    font-size: 1.3rem;
  }
}

/*-----------------
5.0 - Animations
-----------------*/
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes animate-shadow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0.2;
    transform: translateX(80px);
  }
  50% {
    opacity: 0.8;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*-----------------
6.0 Post card
-----------------*/
.c-post{
  &__category{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: 35px;
    h2{
      display: block;
      flex-shrink: 0;
      font-size: 13px;
      color: $primary-color;
      position: relative;
    }
    div{
      width: 100%;
      border: 1px solid #CECECE;
    }
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    position: relative;
    .c-card.c-card--full{
      background-color: #fff;
      border-radius: 15px;
      .c-card__content{
        padding: 30px;
      }
      .c-card__thumb{
        border-radius: 15px 15px 0 0;
        height: 200px;
        background-size: cover;
        background-position: center;
      }
    }
    .c-card.c-card--minimal{
      border-bottom: 1px solid #C1C1C1;
      padding: 1rem;
      &:last-child{
        border-bottom: none;
      }
      h3{
        font-size: 1rem;
      }
      span{
        font-size: 0.5rem;
      }
    }
  }
  .c-card.c-card--banner{
    position: relative;
    z-index: 0;
    h3{
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      color: #fff;
      &::before{
        content: "*";
        padding: 0.6rem 1rem 0px 0px;
        color: $secondary-color;
        font-size: 2rem;
      }
    }
  }
}


/*-----------------
7.0 Header
-----------------*/
.c-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  transition: all 1s ease;
  &.is-sticky {
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
    background-color: #fff;
    transition: all 1s ease;
  }
}

.c-nav {
  position: sticky;
  top: 0;
  height: 70px;
  &__item {
    position: relative;
    text-align: center;
  }
  &__submenu {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
      rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    width: 300px;
    background-color: #fff;
    border-radius: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    left: -50%;
    top: 1rem;
    height: 0;
    overflow: hidden;
    a {
      &:hover {
        color: $primary-color;
      }
    }
    &.is-open {
      height: 100px;
      margin-top: 2rem;
    }
    @media screen and (min-width: $lg-breakpoint) {
      position: absolute;
      margin-top: 2rem;
    }
  }
  &__logo {
    img {
      width: 150px;
    }
  }
  &__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
  }
  &__list {
    flex-direction: column;
    row-gap: 2rem;
  }
  &__link {
    position: relative;
    color: $title-color;
    font-weight: 600;
    transition: 0.3s;
    font-size: 1rem;
    &.has-submenu {
      &::after {
        content: '';
        transition: all 0.2s ease;
        border-style: solid;
        border-width: 0.2em 0.2em 0 0;
        display: inline-block;
        height: 0.45em;
        left: 0.5em;
        position: relative;
        top: 0.1rem;
        transform: rotate(135deg);
        vertical-align: top;
        width: 0.45em;
      }
    }
    &.is-stretched {
      &::after {
        top: 0.4em;
        transform: rotate(-45deg);
      }
    }
    &:hover {
      color: $primary-color;
    }
    &.c-nav__link--cta {
      background-color: $primary-color;
      padding: 12px 30px;
      color: #fff;
      border-radius: 8px;
    }
  }
  &__close {
    font-size: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
  }
  @media screen and (min-width: $md-breakpoint) {
    height: 100px;
    column-gap: 3rem;
    &__menu {
      margin-left: auto;
    }
    &__toggle,
    &__close {
      display: none;
    }
    &__list {
      flex-direction: row;
      column-gap: 3rem;
    }
  }
  @media screen and (max-width: $md-breakpoint) {
    &__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      padding: 4rem 0;
      border-radius: 0 0 1.5rem 1.5rem;
      box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
      transition: 2s all ease;
      background-color: #fff;
      &.is-open {
        top: 0;
        transition: 0.5s all ease;
      }
    }
  }
}

.o-search{
  font-size: 1.25rem;
}


/*-----------------
8.0 Footer
-----------------*/
footer{
  margin-top: 2rem;
  background-color: #000000;
  height: 100px;
}
.c-footer{
  width: 100%;
  p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #fff;
  }
}

/*-----------------
9.0 Newsletter
-----------------*/
.c-newsletter{
  background-color:$red-color;
  padding: 1rem;
  border-radius: $border-r;
  h2,p{
    color:#fff;
  }
  &__input{
    position: relative;
    input{
      background-color: #444444;
      color: #fff;
      margin-top: 30px;
      font-weight: 400;
      border-radius: 5px 16px 16px 5px;
    }
    ::placeholder{
      color: #fff;
    }
    button{
      color: #fff;
      font-size: 1rem;
      padding: 0 1rem;
      border-radius: 20px;
      background-color: $primary-color;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  @media screen and(min-width:$lg-breakpoint){
    padding: 4rem;
    display: flex;
    column-gap: 2rem;
    align-items: center;
    &__input{
      width: 50%;
      input{
        height: 60px;
        margin-top: 0;
      }
    }
  }
}


/*-----------------
10.0 Banner
-----------------*/

.c-banner{
  position: relative;
  &__posts{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
  }
  &__main{
    position: relative;
    overflow: hidden;
    background-color: $primary-color;
    padding: 50px 0;
    .o-asterisk{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;

    }
    .o-circle{
      position: absolute;
      bottom: -10%;
      right: -5%;
      z-index: 0;
    }
  }
}


/*-----------------
11 Category
-----------------*/
.c-category{
  &__wrapper{
    z-index: 1;
  }

}
.c-carousel {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  &__container {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__slide {
    min-width: 30%;
    @media screen and (min-width: $lg-breakpoint) {
      min-width: 50%;
      scroll-snap-align: center;
      position: relative;
    }
    .c-card {
      width: 100%;
      &__inner {
        border-radius: 35px;
        margin: 0 15px 0 0;
        flex-direction: column;
        row-gap: 0.5rem;
        background-color: #fff;
        padding: 0.5rem;
        &.is-active{
          background-color: $red-color;
          color: #fff;
        }
        @media screen and (min-width: $lg-breakpoint) {
          margin: 15px;
        }
      }
    }
  }
}

.o-arrow {
  display: none;
  @media screen and (min-width: $lg-breakpoint) {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top: -25%;
    border: 2px solid $primary-color;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i {
      color: $primary-color;
      font-size: 1.5rem;
    }
    &.o-arrow--right {
      right: 1%;
    }
    &.o-arrow--left {
      right: 5%;
    }
  }
}


/*---------------
11.0 - Intro
---------------*/

.intro{
  margin-top: 40px;
  h2{
    margin-bottom: 2rem;
  }
  @media screen and (min-width: $lg-breakpoint) {
    margin-top: 80px;
  }
  div {
    margin: 2rem 0rem;
  }
}