/*---------------
0.0 - Variables
---------------*/
$body-font: 'Poppins', sans-serif;
$primary-color: #403189;
$secondary-color: #F8B000;
$red-color: #F65A4B;

$bg-color: #787878;
$title-color: #000000;
$text-color: #1C1C1C;

$border-r: 5px;

$sm-breakpoint: 480px;
$md-breakpoint: 767px;
$lg-breakpoint: 1050px;
$xl-breakpoint: 1216px;
$xx-breakpoint: 1400px;
